body {background:url(../images/background2.jpg)no-repeat;height: 650px;}
.jumbotron{position: relative;background-color:deepskyblue;width: 100%;height: auto;
 background-size: cover;overflow: hidden;margin-top:70px;}

.container-container-body{background-color: white;	background: url('../images/bg.png');height:200px;
border-radius:5px;margin-top:80px;}
.container-container-body h3{color:deepskyblue;padding-left:10px;padding-top:10px;text-decoration:underline;}
.container-container-body p{font-family:Arial;font-size:17px;padding-left:10px;padding-top:10px;}

.container-container-body1{background-color: white;	background: url('../images/bg.png');height:200px;
border-radius:5px;margin-top:30px; }
.container-container-body1 h3{color:deepskyblue;padding-left:10px;padding-top:10px;text-decoration:underline;}
.container-container-body1 p{font-family:Arial;font-size:17px;padding-left:10px;padding-top:10px;}

.container-container-body2{background-color: white;	background: url('../images/bg.png');height:200px;
border-radius:5px;margin-top:30px; }
.container-container-body2 h3{color:deepskyblue;padding-left:10px;padding-top:10px;text-decoration:underline;}
.container-container-body2 p{font-family:Arial;font-size:17px;padding-left:10px;padding-top:10px;}

.jumbotron-jumbotron-footer{
    position: relative;
    background-color:silver;
	border-radius:5px;
    width: 100%;
    height: auto;
    background-size: cover;
    overflow: hidden;
	margin-top:30px;
	padding-bottom:10px;
}

.jumbotron-jumbotron-footer p{
	padding-left:300px;
	padding-top:30px;
	}
.jumbotron td{width:220px;}
.btn{
	margin-top:20px;
}



